*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(newyork.img.jpg);
    background-size: cover;
    background-position:center ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.register-btn{
    background: white;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.container{
    padding: 0 7%;

}
.header h1{
    font-size:4vw;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 22px;
}
.search-bar{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: 0;
    outline: none;
    cursor: ponter;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 700;
}
/*---------exclusives----------*/
.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;

}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;

}
.exclusives div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.exclusives div{
    position: relative;
}
.exclusives div span{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:black;
    font-weight: 500;
}
/*-------------------Trendind places-----------*/
  .trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;

  }  
  .trending div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .trending h3{
    font-weight: 600;
    margin-top: 10px;
  }
  /*-----------call to action------------------*/
  .cta {
    margin: 80px 0;
    background-image: linear-gradient(to left,#3f2321,transparent),url(dubai.img.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: white;
  }
  .cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
  }
  .cta p{
    font-size: 18px;
    margin: 10px 0;
  }
  .cta-btn{
    background:#ff5361;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
  }
  /*--------------Travellers stories------*/
  .stories {
   display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;

}
.stories div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width: 80px;
    position:absolute;
    top: 100px;
    left: 50px;
    transform: translate(-50%,-50%);
    color:mediumvioletred;
    font-size: 20px;
}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: white;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;

}
/*--------------about-msg----------------*/
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;

}
.about-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;

}
/*--------------footer-------------*/
.footer{
    margin: 80px;
    text-align: center;

}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 1;
    margin: 20px 0;

}
.footer p{
    padding-bottom: 15px;
}
.active{
    position: relative;
}
.active::after{
    content: '';
    background: white;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius:2x ;
}
/*--------------------for small screen devices---------*/
@media  only screen and(max-width:700px{

.logo{
    position: fixed;
    top: 4%;
    left: 7%;
}
nav{
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: #000;
    text-align: right;
}
nav .nav-links li{
    margin: 10px 0;
    display:block;
}
.register-btn{
    margin: 15px 0 30px;
display: inline-block;

}





}
    

